<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Messages</title>
</head>
<body>
    <h1>Messages</h1>
    <div id="container"></div>
    <form action="messages/create" method="post">
        <label for="author">Author</label>
        <input type="text" name="author" />
        <label for="text">Text</label>
        <input type="text" name="text" />
        <button type="submit">Post</button>
    </form>
    <script src="../Client/Messages.js"></script>
</body>
</html>